{% extends 'parent.html' %}

{% block  title %}
    <title>About</title>
{% endblock title %}

{% block main %}
<main>
    <!-- About Section -->
    <div id="about" class="card mb-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h3>About Our Library Management System</h3>
            <p>Welcome to our Library Management System. Our system is designed to help manage your library efficiently and effectively. With our user-friendly interface, you can easily add new books, manage existing ones, and keep track of all library activities.</p>
            <p>Our key features include:</p>
            <ul>
                <li>Simple and intuitive book management</li>
                <li>Easy-to-use member management</li>
                <li>Comprehensive reporting and analytics</li>
                <li>Advanced search and filtering options</li>
                <li>Secure and reliable data storage</li>
            </ul>
            <p>We aim to provide the best tools for librarians and library administrators to ensure a smooth and organized library experience for all members. Thank you for choosing our Library Management System.</p>
        </div>
    </div>
    </div>
</main>
{% endblock  main%}
     
    
